<div class="bg-white py-1">
  <div class="container py-1">
    <div class="row h-100 align-items-center py">
      <div class="col-lg-12">
        <h1 class="display-6" ><span class="home">ALWAYS WORKING FOR A
          SUSTAINABLE TOMORROW</span></h1>
          </div>
         <img src="../../assets/rendition.xl.jpeg" height="420px"width="100%" alt="">
</div>
    </div>
  </div>

<agm-map  [zoom]="16" [latitude]="latitude"
        [longitude]="longitude" >
        <agm-marker
        [latitude]="latitude"
         [longitude]="longitude">
        </agm-marker>

         <agm-marker [latitude]="latitude"
         [longitude]="longitude">
        </agm-marker>

        </agm-map>
